@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

div#test {
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0.5;
}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}


/* Global */
:root {
    /* Color */
    --color-white: #fff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-black: #4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000;

    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font Weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Annimation */
    -o-annimation-duration: 300ms;
}


/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}
h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
}
p {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-pink);
    align-items: center;
    color: var(--color-white);
    padding: 16px;
}


.navbar_menu {
    display: flex;
}

.navbar_logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar_menu_item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar_menu_item.active {
    border: 1px solid var(--color-white);
    border-radius: 4px;
}


.navbar_menu_item:hover {
    border: 1px solid var(--color-white);
    border-radius: var(--size-border-radius);
    background-color: var(--color-dark-pink);
}

/* HamburgerMenu */
    .sp-menu #open {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 32px;
        color: var(--color-white);
        display: none;
        cursor: pointer;
    }

    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.9);
        text-align: center;
        padding: 64px;
        color: var(--color-black);
        display: none;
    }

    .overlay #close {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 32px;
        color: var(--color-white);
        display: none;
        cursor: pointer;
    }

/* Home */
#home {
    background: var(--color-pink);
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}

.home_avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px dotted var(--color-light-white);
}

.home_title {
    color: var(--color-white);
}

.home_description {
    color: var(--color-white);
}

.home_contact {
    color: var(--color-white);
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: var(--size-border-radius);
}

.home_contact:hover {
    background-color: var(--color-dark-pink);
}

/* Section Common */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section_container {
    max-width: 1200px;
    margin: auto;
}

/* About */
.aboutme_container {
    display: flex;
}

.aboutme_description {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

.about_biography {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 10px;
}

.about_education {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 10px;
}

.about_job {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 10px;
}

span.educate_icon {
    padding-right: 10px;
    color: var(--color-pink);
}

span.job_icon {
    padding-right: 10px;
    color: var(--color-pink);
}


/* Skill */

#skills {
    background-color: var(--color-yellow);
}

.about_majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major_icon {
    width: 170px;
    height: 170px;
    line-height: 230px;
}


.major_icon img {
    width: 130px;
    height: 130px;
    margin: auto;
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    padding: 10px;
    transition: all 300ms ease;
}

.major_icon:hover img {
    transform: rotate(-30deg) scale(1.1);
}

.major_title {
    color: var(--color-dark-grey);
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}

.skillset_title {
    color: var(--color-white);
}

.skillset_left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}

.skill {
    margin-bottom: 8px;
}

.skill_description {
    display: flex;
    justify-content: space-between;
}

.skill_bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill_value {
    height: 3px;
    background-color: var(--color-orange);
}


.skillset_right {
    flex-basis: 40%;
}

.tools {
    padding: 30px;
}



/* Work */
.work_categories {
    margin: 40px;
}

.category_btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category_btn.active,
.category_btn:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.category_btn.active .category_count,
.category_btn:hover .category_count {
    opacity: 1;
    top: 0;
}

.category_count {
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: 400ms;
}


.work_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
}

.project img {
    width: 100%;
}

.project_description {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: 300ms;
    transform: translateY(10px);
}

.project:hover .project_description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project_description h3 {
    color: var(--color-orange);
}

.project_description h3::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: var(--color-dark-white);
    display: block;
    position: relative;
    left: 45%;
    margin-top: 8px;
}

/* Contact */
#contact {
    background-color: var(--color-pink);
}

.contact_title,
.contact_email,
.contact_copyrights {
    color: var(--color-white);
}

.contact_links {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.contact_links img {
    width: 50px;
    margin: 10px;
}

.contact_links img:hover {
    transform: scale(1.3);
}

.contact_copyrights {
    margin-top: 30px;
}


/* For 768px screen width */
@media screen and (max-width:768px) {
:root {
        /* Font Size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
}


    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-pink);
        position: relative;
    }

    .navbar_menu {
        display: none;
    }

    .sp-menu #open {
        display: block;
    }

    .sp-menu #open.hide {
        display: none;
    }

    .overlay #close {
        display: block;
        color: var(--color-black);
    }

    .overlay {
        display: block;
        color: var(--color-black);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.6s;
    }

    .overlay.show {
        opacity: 1;
        pointer-events: auto;
    }

    .section {
        padding: 16px;
    }

    .aboutme_container {
        display: flex;
        flex-direction: column;
    }

    .about_majors {
        flex-direction: column;
    }

    .major_icon {
        width: 100%;
    }

    .major {
        margin-bottom: 38px;
    }

    .skillset {
        flex-direction: column;
    }

    .work_categories {
        margin: 16px;
    }

    .project {
        flex-grow: 1;
    }

}